.detailModal {
  @include flex(flex-start, center, column);

  background-color: #fff;
  border-radius: 21px;
  box-shadow: 0px 0px 6.8px 1px rgba(0, 0, 0, 0.05);
  padding: 26px 21px;
  min-width: 308px;

  gap: 21px;

  &__product {
    @include flex(flex-start, center, column);
    gap: 10px;
  }

  h2 {
    @include font(26px, 500, 21px, #000);
    margin: 0;
    margin-bottom: 21px;
  }

  .productDetail {
    @include flex(space-between, flex-start, row);
    gap: .5rem;
    width: 100%;
  
    img {
      width: 150px;
    }
  
    main {
      h3 {
        @include font(18px, 500, 22px, #000);
        margin: 13px 0;
      }
    }
  
    section {
      @include flex(flex-start, flex-start, column);
      gap: 4px;
  
      p {
        margin: 0;
      }
    }
  }
  
  .productDescription {
    @include flex(flex-start, flex-start, column);
    gap: 8px;
    width: 100%;
  
    &__title {
      @include flex(flex-start, center, row);
      gap: 10px;
  
      h3 {
        @include font(16px, 500, 18px, #000);
        margin: 0;
      }
    }
  
    p {
      @include font(16px, 600, 16px, #505050);
      margin: 0;
    }
  }

  .whatDoesNow {
    @include flex(flex-start, flex-start, column);
    width: 100%;
    gap: 8px;

    h3 {
      @include font(18px, 600, 18px, #000);
      margin: 0;
    }

    ul {
      @include flex(flex-start, flex-start, column);
      gap: 0;
      margin: 0;
      padding: 0;

      li {
        @include font(16px, 500, 19px, #505050);
        list-style: none;
      }
    }
  }

  &__buttons {
    display: grid;
    grid-template-columns: 1fr 100px;
    gap: 10px;
    width: 100%;
  }
}