.header {
  @include flex(center, center, column);
  padding: 2rem 1rem 0rem 1rem;

  h1 {
    @include font(52px, 400, 48px, #2b2b2b);
    font-family: 'Great Vibes', cursive;
  }

  h2 {
    margin: 0;
  }

  h3 {
    @include font(24px, 600, 28px, #494949);
    font-family: $nunito-font;
    margin: 0;
    margin-bottom: -18px;
  }
}