.whoIsModal {
  @include flex(center, center, column);

  position: fixed;
  top: 0;
  left: 0;
  height: 100%;

  background: rgba(0, 0, 0, 0.2);

  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  padding: 1rem;

  form {
    @include flex(center, center, column);

    background-color: #fff;
    border-radius: 21px;
    box-shadow: 0px 0px 6.8px 1px rgba(0, 0, 0, 0.05);
    padding: 1rem 2rem;

    gap: 1rem;

    h1 {
      @include font(32px, 800, 36px, #000);
      margin-bottom: 0;
    }

    .input {
      @include flex(flex-start, flex-start, column);
      gap: 0;
      width: 100%;

      p {
        color: #2E2E2E;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
      }

      input {
        font-size: 18px;
        font-weight: 500;
        padding: 10px;
        border-radius: 13px;
        background: #FAFAFA;
        border: none;

        width: calc(100% - 20px);
      }
    }

    input[type="submit"] {
      @include flex(center, center, row);
      @include font(16px, 500, 18px, #fff);

      background-color: #000;
      border-radius: 13px;
      padding: 14px 12px;
      width: 100%;
      border: none;
      margin-top: 1rem;
    }
  }
}