.main {
  @include flex(center, center, column);

  p {
    @include font(16px, 600, 19px, #616161);
    text-align: center;
    font-family: $nunito-font;
  }
}

.whoIsLeave {
  text-decoration: underline;
}